@import url(https://fonts.googleapis.com/css?family=Pacifico);
.pacifico{
    font-family: Pacifico;
}
body{
    overflow-x: hidden;
}
.left-panel{
    height: 100vh;
    border-width: 1px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 12px;
    color: black;
}
.vert-offset-10{
    margin-top: 10px;
}
.vert-offset-20{
    margin-top: 20px;
}
.right-panel{
    height: 100vh;
    color: white;
    background-color: #125688;
}
#graph{
    height: 80vh;
}
#data-section{
    overflow-y: auto;
}
/* graph style */
.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

.link {
  stroke: #999;
  stroke-opacity: .6;
}
