<!DOCTYPE html>
<html>
<head>
    <script>
        require('angular');

    </script>
</head>
<body>
<div ng-app="myApp" class="container-fluid">
    <div class="row" ng-controller="usersCtrl">
        <div class="col-md-4 left-panel"  id="">
            <div class="col-md-12 panel vert-offset-10" style="padding-bottom: 20px;">
                <div class="vert-offset-10 col-md-10 col-md-offset-1">
                  <h1 class="text-center pacifico" >Welcome!</h1>
                  <h5 class="text-center">{{currentUser.name}}</h5>    
                </div>            
                <div class="vert-offset-10 col-md-10 col-md-offset-1" ng-show="users.length > 0 ">
                    <select ng-model="graph" class="form-control">
                        <option ng-repeat="graph in graphs" value="{{graph}}">{{graph}}</option>
                    </select>
                </div>
                <div class="vert-offset-10 col-md-10 col-md-offset-1" ng-show="users.length >0">
                    <select ng-model="cuser" class="form-control">
                        <option ng-repeat="user in users" value="{{user.uid}}">{{user.name}}</option>
                    </select>
                </div>
                <div class="vert-offset-10 col-md-10 col-md-offset-1" ng-show="users.length >0">
                    <button class="btn btn-block btn-default" ng-click="draw()">
                        Graph!
                    </button>            
                </div>
                <div class="vert-offset-10 col-md-10 col-md-offset-1" ng-show="stats.centrality.image">
                  <hr/>
                  <h5 class="text-center">Change Layout</h5>
                  <div ng-repeat="layout in layouts" class="vert-offset-10 col-md-5 col-md-offset-1">
                      <button ng-click="changeLayout(layout.layout)"  class="btn btn-default col-md-12" >{{layout.name}}</button>
                  </div>
                </div>
                <div class="vert-offset-10 col-md-10 col-md-offset-1">
                  <hr/>
                  <button class="btn btn-primary btn-block" ng-click="login()">{{ users.length ? 'Log in another account' : 'Login'}}</button>
                </div>
            </div>
            

            <div class="col-md-12 panel" ng-show="stats.centrality.image">
                <div id="users" class="col-md-12">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th style="text-align:center;"><h5>Stats</h5></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="well">
                                <div class="col-md-5">
                                    <img class="img-responsive img-circle" src="{{stats.centrality.image}}">
                                </div>
                                <div class="col-md-7">
                                    <h5>Centralness: {{stats.centrality.user}}</h5>
                                    <small>Value: {{stats.centrality.value}}</small>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        <td class="well">
                                <div class="col-md-5">
                                    <img class="img-responsive img-circle" src="{{stats.degree.image}}">
                                </div>
                                <div class="col-md-7">
                                    <h5>Degreeness: {{stats.degree.user}}</h5>
                                    <small>Value: {{stats.degree.value}}</small>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8 right-panel">
            <h1 class="col-md-10 col-md-offset-1 pacifico text-center">Instagram <span ng-click="toggleYongMode()">V</span>isualizer</h1>
            <div class="col-md-12" style="position: relative; height: 500px">
                <div class="graph" id="graph" style="position: absolute">

                </div>
                <div id="tooltip" ng-show="nodeToolTip" style="z-index: 50; text-align: center; position: absolute; background: rgba(80, 80, 80, 0.57); right: 5px; top: 5px;height: 300px; width: 250px;">
                    <img src="{{nodeToolTip.image}}" class="img-circle" style="padding-top: 10px;">
                    <ul style="text-align: left">
                        <li ng-repeat="tip in nodeToolTip.tips">{{tip.name }} : {{tip.value}}</li>
                    </ul>
                </div>
                <img src="assets/img/loading-gif.gif" width="100px" style="top: 45%; -webkit-opacity: 0.5;position: absolute;right: 45%;" ng-show="graphLoading">
                <div ng-show="yongShow" style="position:absolute; top: 50%;left: 25%; width: 50%; text-decoration: blink; text-align:center; background-color: black; font-weight: 500; border-radius: 50px;" >
                  <h1 style="color: #00FF00; font-family: monospace; text-decoration: blink; padding-top: 100px;padding: 50px">Yong mode is the bomb</h1>
                </div>
            </div>

        </div>
      </div>
    </div>
</body>
<script>
    var isYongified = false;
    function yongify(){
        if(isYongified == true) {
            document.getElementsByClassName('node').style.backgroundImage = "assets/img/yong.png";
            document.getElementsByClassName('img-responsive').style.backgroundImage = "assets/img/yong.png";
            isYongified = false;
        }
        else{
            //remove yong
        }
    }
</script>


<script>
        var app = angular.module('myApp', []);
        var vis = require('./scripts/cytoviz');
        var _ = require('underscore');
        
        // shows the loading thing on the graph
       
        
        app.controller('usersCtrl', ['$scope', '$timeout', function($scope, $timeout){

            var authenticate = require('./scripts/auth');
            var api = require('instawrapper');
            $scope.nodeToolTip = false;
            $scope.graphs = [
                'Feed',
                'Follow'
            ];
            $scope.graphLoading = false;
            $scope.graph = $scope.graphs[1];
            $scope.layouts =
                [
                {
                    name: 'Breadth First',
                    layout: 'breadthfirst'
                },
                {
                    name: 'Circle',
                    layout: 'circle'
                },
                {
                    name: 'Concentric',
                    layout: 'concentric'
                },

                {
                    name: 'Cose',
                    layout: 'cose'
                },
                {
                    name: 'Grid',
                    layout: 'grid'
                },
                {
                    name: 'Random',
                    layout: 'random'
                }
                ];
            $scope.user = {
                name: "",
                profile: "assets/img/yong.jpg",
                graph: "",
                uid: ""
            };
            $scope.stats = "";
            $scope.currentUser = angular.copy($scope.user);
            $scope.users = [];
            $scope.switchUser = function(user){
                $scope.currentUser = user;
                authenticate.draw(user.uid);
            };
            $scope.addUser = function(userObject){
              var usr = angular.copy($scope.user);
              usr.uid = userObject.access_token;
              usr.name = userObject.full_name;
              usr.profile = userObject.profile_picture;
              $scope.users.push(usr);
              console.log('added usr');
              $scope.currentUser = usr;
            };
            authenticate.afterAuthCallback(function(userObject){
                console.log('callback triggered');
                $scope.$apply(function(){
                    $scope.addUser(userObject);
                    if(!$scope.cuser){
                      $scope.cuser = userObject.access_token;
                    }
                });
                console.log('access token', userObject.access_token);
                
            });
            vis.afterDrawCallback(function(){
                $scope.$apply(function(){
                    $scope.stats = vis.getStats();
                });
                $scope.$apply(function(){
                    $scope.graphLoading = false;
                });
                //setup a on hover for this new graph
                vis.onNodeHover(function(event){
                  console.log('mouseover');
                    var target = event.cyTarget;
                    $scope.$apply(function(){
                        $scope.nodeToolTip = {}
                        $scope.nodeToolTip.tips = [];
                        $scope.nodeToolTip.tips.push({name: 'Name', value: target.data('name')});
                        $scope.nodeToolTip.tips.push({name: 'Degree', value: target.degree()});
                        $scope.nodeToolTip.tips.push({name: 'Betweeness Centrality ', value: vis.getGraph().$().bc().betweennessNormalized('#'+target.data('id'))});
                        $scope.nodeToolTip.tips.push({name: 'Degree Centrality', value: vis.getGraph().$().dcn().degree('#'+target.data('id'))});
                        $scope.nodeToolTip.image = target.data('image')
                    });
                });
              
            });
            $scope.yongMode = false;
            
            $scope.toggleYongMode = function(){
              vis.toggleYongMode();
              $scope.yongMode = !$scope.yongMode;           
              if($scope.yongMode == true){
                $scope.yongShow = true;
                $timeout(function(){
                  $scope.yongShow = false
                }, 2000)
              }
            }
            $scope.draw = function(){
               token = $scope.cuser;
               $scope.nodeToolTip = false;
               $scope.graphLoading = true;
               authenticate.draw(token, $scope.graph);
            };
            $scope.login = function(){
                authenticate.login();
            };
            $scope.changeLayout = function(layout){
                vis.changeLayout(layout);
            }
        }]);
</script>
</html>
