<!DOCTYPE html>
<html>
<head>
    <script>
        require('angular');

    </script>
    <meta charset="UTF-8">
    <title>Instagram Visualizer</title>
    <link rel="stylesheet" href="css/app.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css" integrity="sha384-aUGj/X2zp5rLCbBxumKTCw2Z50WgIr1vs/PFN4praOTvYXWlVyh2UtNUU0KAUhAX" crossorigin="anonymous">
</head>
<body>
<div ng-app="myApp" class="container-fluid">
    <div class="row" ng-controller="usersCtrl">
        <div class="col-md-4 left-panel"  id="">
            <div class="col-md-12 panel vert-offset-10">
                <div class="col-md-12 vert-offset-10">
                    <div class="col-md-12">
                        <h3 class="text-center pacifico" >Welcome!</h3>
                        <h5 class="text-center">{{currentUser.name}}</h5>
                        <button class="col-md-8 col-md-offset-2 btn btn-primary" ng-click="login()">Login</button>
                    </div>
                    <br>
                </div>
                <div ng-repeat="layout in layouts" ng-show="stats.centrality.image" class="vert-offset-10 col-md-10 col-md-offset-1">
                    <button ng-click="changeLayout(layout.layout)"  class="btn btn-default col-md-8 col-md-offset-2" >{{layout.name}}</button>
                </div>
                <div class="vert-offset-10 col-md-10 col-md-offset-1">
                    <select ng-model="graph" class="form-control">
                        <option ng-repeat="graph in graphs" value="{{graph}}">{{graph}}</option>
                    </select>
                </div>
                <div class="vert-offset-f10 col-md-10 col-md-offset-1">
                    <select ng-model="cuser" class="form-control">
                        <option ng-repeat="user in users" value="{{user.uid}}">{{user.name}}</option>
                    </select>
                </div>
                <div class="vert-offset-10 col-md-10 col-md-offset-1">
                    <button class="btn btn-blo" ng-click="draw()">
                        Graph!
                    </button>
                </div>
            </div>

            <div class="col-md-12 panel" ng-show="stats.centrality.image">
                <div id="users" class="col-md-12">
                    <table class="table table-striped" >
                        <thead>
                        <tr>
                            <th>Stats</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td class="well">
                                <div class="col-md-5">
                                    <img class="img-responsive img-circle" src="{{stats.centrality.image}}">
                                </div>
                                <div class="col-md-7">
                                    <h5>Centrality: {{stats.centrality.user}}</h5>
                                    <small>Value: {{stats.centrality.value}}</small>
                                </div>
                            </td>
                        </tr>
                        <tr>
                        <td class="well">
                                <div class="col-md-5">
                                    <img class="img-responsive img-circle" src="{{stats.degree.image}}">
                                </div>
                                <div class="col-md-7">
                                    <h5>Degree: {{stats.degree.user}}</h5>
                                    <small>Value: {{stats.degree.value}}</small>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-8 right-panel">
            <h1 class="col-md-10 col-md-offset-1 pacifico text-center">Instagram Visualizer</h1>
            <div class="col-md-12">
                <div class="graph" id="graph" style="positon: relative">
                    <div id="tooltip" ng-show="nodeToolTip" style="z-index: 50; text-align: center; position: absolute; background: rgba(80, 80, 80, 0.57); right: 5px; top: 5px;height: 300px; width: 250px;">
                        <img src="{{nodeToolTip.image}}" class="img-circle" style="padding-top: 10px;">
                        <ul style="text-align: left">
                            <li ng-repeat="tip in nodeToolTip.tips">{{tip.name }} : {{tip.value}}</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</body>
<script>
    var isYongified = false;
    function yongify(){
        if(isYongified == false) {
            document.getElementsByClassName('node').style.backgroundImage = "assets/img/yong.png";
            document.getElementsByClassName('img-responsive').style.backgroundImage = "assets/img/yong.png";
            isYongified = true;
        }
        else{
            //remove yong
        }
    }
</script>


<script>
        var app = angular.module('myApp', []);
        var vis = require('./scripts/cytoviz');
        var _ = require('underscore');
        app.controller('usersCtrl', ['$scope', function($scope){

            var authenticate = require('./scripts/auth');
            var api = require('instawrapper');
            $scope.nodeToolTip = false;
            $scope.graphs = [
                'Feed',
                'Follow'
            ];
            $scope.layouts =
                [
                {
                    name: 'Breadth First',
                    layout: 'breadthfirst'
                },
                {
                    name: 'Circle',
                    layout: 'circle'
                },
                {
                    name: 'Concentric',
                    layout: 'concentric'
                },

                {
                    name: 'Cose',
                    layout: 'cose'
                },
                {
                    name: 'Grid',
                    layout: 'grid'
                },
                {
                    name: 'Random',
                    layout: 'random'
                }
                ];
            $scope.user = {
                name: "",
                profile: "assets/img/yong.jpg",
                graph: "",
                uid: ""
            };
            $scope.stats = "";
            $scope.currentUser = angular.copy($scope.user);
            $scope.users = [];
            $scope.switchUser = function(user){
                $scope.currentUser = user;
                authenticate.draw(user.uid);
            };
            $scope.addUser = function(userObject){
              var usr = angular.copy($scope.user);
              usr.uid = userObject.access_token;
              usr.name = userObject.full_name;
              usr.profile = userObject.profile_picture;
              $scope.users.push(usr);
              console.log('added usr');
              $scope.currentUser = usr;
            };
            authenticate.afterAuthCallback(function(userObject){
                console.log('callback triggered');
                $scope.$apply(function(){
                    $scope.addUser(userObject);
                });
                console.log('access token', userObject.access_token);
                
            });
            vis.afterDrawCallback(function(){
                $scope.$apply(function(){
                    $scope.stats = vis.getStats();
                });
                vis.onNodeHover(function(event){
                    console.log(event);
                    var target = event.cyTarget;
                    $scope.$apply(function(){
                        $scope.nodeToolTip = {}
                        $scope.nodeToolTip.tips = [];
                        $scope.nodeToolTip.tips.push({name: 'Name', value: target.data('name')});
                        $scope.nodeToolTip.tips.push({name: 'Degree', value: target.degree()});
                        $scope.nodeToolTip.tips.push({name: 'Betweeness Centrality ', value: vis.getGraph().$().bc().betweennessNormalized('#'+target.data('id'))});
                        $scope.nodeToolTip.tips.push({name: 'Degree Centrality', value: vis.getGraph().$().dcn().degree('#'+target.data('id'))});
                        $scope.nodeToolTip.image = target.data('image')
                    });
                });
                console.log('done drawing');
            });
            $scope.draw = function(){
               token = $scope.cuser;
               $scope.nodeToolTip = false;
               authenticate.draw(token, $scope.graph);
            };
            $scope.login = function(){
                authenticate.login();
            };
            $scope.changeLayout = function(layout){
                vis.changeLayout(layout);
            }
        }]);
</script>
</html>
